.articleContainer {
	display: flex;
	flex-direction: column;
	margin-block: 25px;
	padding-inline: 50px;
}

.title {
	background-color: var(--cPaleta0);
	composes: standardSectionTitle from '../App.module.css';
	text-wrap: balance;
	margin-bottom: 25px;
}

.subtitle {
	font-weight: 900;
	font-size: 1.3rem;
	margin-bottom: 10px;
}

.articleContent {
	margin-bottom: 25px;
}

.articleSection {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	justify-content: space-between;
}

.articleSectionReverse {
	composes: articleSection;
	flex-direction: row-reverse;
}

.paragraphImg {
	margin-left: 10px;
	height: 225px;
}

.articleParragraph {
	text-wrap: pretty;
	margin-bottom: 20px;
}

/* --- Cards --- */
.articleCards {
	display: flex;
	align-items: center;
	/* text-align:; */
	flex-wrap: wrap;
	gap: 25px;
	justify-content: space-evenly;
	align-items: flex-start;
	margin-bottom: 45px;
	background-color: rgba(81, 81, 81, 0.05);
}

.cardFlex {
	/* border: 1px solid blue; */
	width: 45%;
}

.cardTitle {
	text-align: center;
	font-weight: 900;
	font-size: 1.15rem;
	margin-bottom: 15px;
	background-color: var(--cPaleta2);
	padding: 7px;
}
.cardImg {
	margin-left: 10px;
	height: 125px;
	border-radius: 50%;
}

.cardApego {
	display: flex;
	align-items: center;
}

@media (width <= 980px) {
	.articleSection {
		flex-direction: column-reverse;
	}

	.cardFlex {
		width: 100%;
	}

	.articleCards {
		display: block;
	}

	p {
		padding-inline: 10px;
	}
}

@media (width <= 540px) {
	.cardApego {
		flex-direction: column-reverse;

		img {
			margin-bottom: 15px;
			height: 175px;
		}
	}
}
