.zona_bot {
	display: flex;
	align-items: center;
	background-color: var(--cPaleta2);
	justify-content: space-evenly;
	padding: 25px 25px;
	color: white;
	flex-grow: 0;
	width: 100vw;
}

.zona_bot img {
	height: 250px;
}

.sec_redes {
	line-height: 2rem;

	& p {
		text-align: center;
		margin-bottom: 15px;
	}
}

.sec_redes img {
	padding: 2px;
	margin: 2px;
	width: 40px;
	height: 45px;
}

.sec_dir {
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 15px;
	& p {
		margin-bottom: 10px;
	}

	& .sec_dir_map {
		width: 400px;
		height: 300px;
	}
}

@media screen and (max-width: 980px) {
	.zona_bot {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.zona_bot > img {
		height: 150px;
	}

	.sec_redes,
	.sec_dir {
		margin-bottom: 30px;
		text-align: center;
		align-items: center;
		padding: 0;
	}

	.sec_dir .sec_dir_map {
		width: 75dvw;
		height: 45dvw;
	}

	.sec_logo {
		margin: 0 auto;
	}

	.zona_bot img {
		margin-bottom: 30px;
	}
}
