.carousel {
	position: relative;
	width: 100%;
	height: 600px;
}

.carouselContainer {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.carouselSlide {
	position: absolute;
	width: auto;
	height: 100%;
	opacity: 0;
	/* transition: opacity 0.5s ease-in-out; */
}

.carouselSlide.active {
	opacity: 1;
}

.carouselImage {
	width: 100%;
	height: auto;
	object-fit: cover;
	aspect-ratio: 16/10;
}

.carouselContent {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	padding: 1rem;
}

.carouselTitle {
	font-size: 2.75rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.carouselDesc {
	width: 75%;
	font-size: 1.5rem;
	margin-bottom: 2.5rem;
}

.carouselBtn {
	composes: standardBlueBtn from '../../App.module.css';
}

.carouselBtn:hover {
	background-color: var(--cPaleta3);
}

.carouselNavBtn {
	position: absolute;
	top: 50%;
	width: 3rem;
	height: auto;
	transform: translateY(-50%);
	color: white;
	cursor: pointer;
}

.carouselNavBtn:hover {
	border: 1px solid white;
	border-radius: 50%;
}

.prevButton {
	composes: carouselNavBtn;
	left: 15px;
}

.nextButton {
	composes: carouselNavBtn;
	right: 15px;
}

.carouselIndicators {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 0.5rem;
}

.carouselIndicator {
	width: 2rem;
	height: 0.25rem;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 9999px;
	cursor: pointer;
	padding: 0;
	transition: background-color 0.3s;
}

.carouselIndicator.active {
	background-color: white;
}

@media (width <= 1024px) {
	.carousel {
		height: 500px;
	}
	.carouselTitle {
		font-size: 1.75rem;
	}
	.carouselDesc {
		font-size: 1.15rem;
	}
}

@media (width <= 768px) {
	.carousel {
		height: 400px;
	}
	.carouselImage {
		min-height: 400px;
	}
	.carouselTitle {
		font-size: 1.5rem;
	}
	.carouselDesc {
		font-size: 0.8rem;
	}
}
