.ConsejeriaMain {
    border: 1px dashed red;
    width: 100vw;
}

.psicoTagName{
    display: flex;
    margin-top: 25px ;
    margin-bottom: 25px ;
    padding: 20px 0 20px 0;
    justify-content: center;
    }


.consejDesc {
    padding: 0 20px 0 20px;
}