.pIntro {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: max-content;
	margin: 50px;
	gap: 25px;
}

.videoContainer {
	position: relative;
	width: 300px;
	height: 500px;
	overflow: hidden;
	border: 5px solid var(--cPaleta1);
	box-shadow: 0px 0px 10px var(--cPaleta1);
	border-radius: 20px;
}

.videoContent {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Crops the video to fill the container */
	display: block;
}

.playButton {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	width: 70px;
	cursor: pointer;
	z-index: 1;
}

.pIntroText {
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
	width: 50%;

	.pIntroTitle {
		font-size: 2.5rem;
		font-weight: 600;
		margin-bottom: 25px;
	}
}

.p_especialistas {
	composes: standardSectionTitle from '../App.module.css';
	background-color: var(--cPaleta0);
	margin-bottom: 50px;
}

/* CARDS DE TERAPEUTAS */
/* ------------------*/
.p_team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-inline: 15px;
	gap: 30px;
	margin-bottom: 100px;
}
.p_card {
	display: flex;
	gap: 20px;
	height: max-content;
	margin-bottom: 50px;
}

.p_imgFrame {
	margin-top: 15px;
	width: 180px;
	height: 375px;
	border: 16px solid black;
	border-radius: 36px;
	background-color: #000;
	position: relative;
	padding-top: 5px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.p_imgFrame::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 8px;
	background-color: #333;
	border-radius: 8px;
}

.p_imgFrame::after {
	content: '';
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	width: 40px;
	height: 4px;
	background-color: #695b5b;
	border-radius: 2px;
}

.p_image {
	width: 150px;
	height: 300px;
	margin: 0 auto;
	background-size: cover;
	background-position: center;
}

/* DATOS POR CADA TERAPEUTA */
.p_cardContent {
	width: 400px;
	font-size: 0.95rem;
	.p_cardTitle {
		margin-block: 25px 15px;
		.p_cardTitleName {
			font-size: 1.25rem;
			font-weight: 600;
		}
		.p_cardSubTitle {
			color: gray;
			font-size: 0.95rem;
		}
	}
	.p_cardContentSection {
		display: inline-flex;
		align-items: center;
		gap: 5px;
		img {
			height: 30px;
			margin: 10px;
		}
	}
}
.p_cardBtns {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	.p_cardBtn {
		composes: standardBlueBtn from '../App.module.css';
		all: unset;
		&:visited {
			color: white;
		}
	}
}
@media screen and (width <= 780px) {
	.videoContainer {
		width: 250px;
		height: 400px;
	}

	.pIntroText {
		width: auto;
		margin: 0;
		.pIntroTitle {
			font-size: 1.5rem;
		}
	}

	.p_card {
		flex-direction: column;
		align-items: center;
		gap: 0;
		margin-bottom: 50px;
	}
	.p_cardContent {
		width: 90%;

		.p_cardTitle {
			text-align: center;
		}
	}
	.p_cardBtns {
		margin-top: 20px;
	}

	.playButton {
		display: none;
	}
}
