.p_team {
	display: flex;
	padding-top: 55px;
	justify-content: space-around;
	flex-wrap: wrap;
	/* border: 3px solid darkcyan; */
}

.p_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
	/* border: 1px solid blueviolet; */
}

.p_card h3 {
	margin: 20px 0px;
	font-size: 1.5rem;
}

.p_card img {
	border-radius: 50%;
	/* aspect-ratio: auto 1/1; */
	/* width: 200px; */
	height: 300px;
}

.p_card > .desc {
	padding: 0 20px 30px;
	width: 550px;
	font-size: 1.25rem;
	/* text-align: justify; */
	line-height: 2rem;
}

@media screen and (max <= 700px) {
	.p_card > .desc {
		width: 80vw;
	}
}
