.nSubtitles {
	composes: standardSectionTitle from '../App.module.css';
}

.main_somos_desc {
	display: flex;
	/* width: 90%; */
	height: max-content;
	align-items: center;
	justify-content: space-around;
	padding: 15px 25px;
}

.main_somos_desc_one {
	margin: 10px;
	padding: 10px;
	display: flex;
	width: 60%;
}

.main_somos_desc_img {
	width: auto;
	height: 40dvh;
	min-height: 200px;
	max-height: 350px;
	object-fit: cover;
	border-radius: 25px;
}

.main_somos_obj {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding: 50px;
	margin-bottom: 50px;

	img {
		height: 55px;
	}
}

.obj_mision {
	width: 50%;
	padding: 50px 25px;
	background-color: var(--cPaleta0);
	color: white;
}

.obj_vision {
	composes: obj_mision;
	background-color: var(--cPaleta5);
	color: unset;
}

.obj_title {
	display: flex;
	justify-self: center;
	align-items: center;
	gap: 10px;
}

.valores {
	display: flex;
	height: max-content;
	padding: 25px 20px 50px 20px;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}

.valorx {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	width: 35%;
	max-width: 275px;
	margin: 0 25px 50px 25px;
	& img {
		height: 90px;
	}
}

.valorx p {
	padding-left: 10px;
	padding-right: 5px;
	text-align: center;
}

.valorx svg {
	/* font-size: 5.5rem; */
	color: var(--cPaleta1);
}

@media screen and (width <= 980px) {
	.main_somos_desc {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		margin-block: 15px;
	}

	.main_somos_desc_one {
		padding: 0;
		width: 80dvw;
		text-wrap: pretty;
	}

	.main_somos_desc_img {
		min-width: 150px;
	}

	.main_somos_obj {
		/* width: 100vw; */
		display: flex;
		flex-direction: column;
		align-items: center;
		height: max-content;
		padding: 0;
	}

	.obj_mision {
		display: flex;
		flex-direction: column;
		width: 85dvw;
		padding-bottom: 50px;
	}

	.obj_title {
		justify-content: center;
	}

	.obj_mision p {
		margin-bottom: 20px;
	}

	.obj_vision {
		display: flex;
		flex-direction: column;
		width: 85dvw;
		padding-bottom: 50px;
	}

	.valorx {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		width: 70vw;
		min-width: 180px;
		max-width: 275px;
	}
}

@media screen and (width <= 550px) {
	.main_somos_desc_img {
		height: 25dvh;
		margin-bottom: 15px;
	}
}
