.qaContainer {
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75%;
}

.qaClosing {
	text-wrap: pretty;

	p {
		text-align: center;
		margin-top: 20px;
	}
}

.accordion {
	margin: 50px 0;
}

.title {
	background-color: #f7f7f7;
	padding: 10px;
	cursor: pointer;
	border: 2px solid #ddd;
	border-radius: 10px;
	margin-bottom: 15px;
}

.title:hover {
	background-color: #e0e0e0;
}

.title.active {
	background-color: #e0e0e0;
}

.content {
	text-wrap: pretty;
	padding: 0 15px;
	height: 0;
	overflow: hidden;
	transition: height 0.5s ease;
	interpolate-size: allow-keywords;
}

.content.active {
	height: auto;
	transition: height 0.2s ease;
	margin-bottom: 20px;
}
