.catalogo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	width: 95%;
}

.serviceCat {
	composes: standardSectionTitle from '../App.module.css';
}

.cat_subtitle h3 {
	/* font-size: 2rem; */
	text-align: center;
}

.serv_card {
	display: flex;
	justify-content: center;
	margin: 30px 0 30px 0;
	/* border: 1px solid gray; */
}

.serv_card_text {
	display: flex;
	width: 60%;
	flex-direction: column;
	padding: 15px 10px;
	box-shadow: rgba(141, 169, 201, 0.25) 0px 25px 50px -12px;
	padding-bottom: 55px;
	/* border: 1px red solid; */
}
.serv_card_text p {
	padding: 0 20px 0 20px;
}
.serv_card_title {
	/* font-size: 1.25rem; */
	font-weight: bolder;
}

.serv_card_content {
	margin-top: 15px;
	white-space: pre-line;
	padding-bottom: 25px;
}

.serv_card img {
	width: 350px;
	aspect-ratio: 9/6;
	height: auto;
}

@media screen and (max-width: 980px) {
	.serv_card {
		flex-direction: column-reverse;
		align-items: center;
		margin: 55px 0;
		box-shadow:
			rgba(90, 134, 185, 0.25) 0px 30px 60px -12px,
			rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	}
	.serv_card_text {
		box-shadow: unset;
		width: unset;
		padding-bottom: 55px;
	}

	.serv_card_title {
		text-align: center;
	}
}
