.wMain {
	padding-bottom: 10px;
	margin: 0 auto;
	height: max-content;
}

.wEquipo {
	padding: 0px 10px 20px 10px;
	height: max-content;
}

.introContainer {
	display: flex;
	padding: 20px 50px 20px 25px;
	justify-content: space-around;
	gap: 30px;

	.introContent {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.introTitle {
		margin: 10px 0;
		font-size: 1.5rem;
	}
	.introDesc {
		margin: 10px 0 20px 0;
		text-wrap: pretty;
	}
	a {
		width: max-content;
		text-align: center;
	}
	img {
		width: 100%;
		max-width: 300px;
		height: auto;
		border-radius: 50%;
		object-fit: cover;
		overflow: hidden;
		aspect-ratio: 1/1;
	}
}
.valuesBtn {
	composes: standardBlueBtn from '../App.module.css';

	&:visited {
		color: white;
	}
}

.wSectionTitle {
	composes: standardSectionTitle from '../App.module.css';
}

/* ----  Agenda --- */
.agendaContainer {
	min-height: 550px;
	display: flex;
	flex-direction: column;

	.agendaContent {
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-grow: 1;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 25px 0 25px 0;
	}

	.agendaItem {
		width: 270px;
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 20px;
		border: 2px solid var(--cPaleta1);
		border-radius: 25px;
		padding: 15px 0 15px 0;
		margin: 20px;
		box-shadow: 7px 7px 7px 0px rgba(1, 61, 96, 1);
	}

	.agendaIcon {
		height: 55px;
	}

	.agendaSubtitle {
		font-size: 1.15rem;
		font-weight: 660;
	}
	.agendaDesc {
		padding-inline: 10px;
	}
}

.benefitContainer {
	min-height: 250px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-block: 25px;

	.benefitContent {
		display: flex;
		margin: 25px auto;
		gap: 10px;
		flex-direction: column;
	}

	.benefitImg {
		height: 85px;
	}
	.benefitDesc {
		max-width: 150px;
		font-size: 1.3rem;
		font-weight: 600;
		text-wrap: pretty;
		text-align: center;
	}
}

@media screen and (width <= 800px) {
	.wSectionTitle {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		line-height: 2.25rem;
		min-height: 85px;
	}

	.introContainer {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;

		.introContent {
			align-items: center;
		}
		.introDesc,
		.introTitle {
			text-align: center;
		}
	}
}
