.topRowOne {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--cPaleta2);
	font-size: 1.1rem;
	height: 25px;
	color: white;

	& span {
		margin-left: 10px;
		margin-right: 10px;
	}

	& img {
		margin: 0 7px 0 7px;
		height: 20px;
		margin-top: 5px;
	}
}

/* --- Barra de Navegacion --- */
/* --- ------------------- --- */
.topRowTwo {
	display: inline-flex;
	align-items: center;
	justify-content: space-around;
}

.top_logo a {
	display: flex;
	min-width: 75px;
	align-items: center;
}

.logo_img {
	height: 75px;
	min-height: 45px;
}

.logo_letras {
	height: 60px;
	min-height: 30px;
}

#categorybar {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	/* padding-right: 25px; */
	font-size: 1.33rem;
	/* border: 1px solid green; */
}

.categoryitem {
	position: relative;
	/* necesito esto para el subrayado*/
	display: flex;
	/* min-width: 50px; */
	flex-direction: column;
	text-align: center;
	margin: 0 10px 0 10px;
	padding-left: 5px;
	/* border: 1px solid violet; */
}

.categoryitem a {
	text-decoration: none;
	color: var(--cPaleta1);
	position: relative;
	transition: 0.5s ease-in-out;
	/* border: 1px solid black; */
}

.categoryitem svg {
	height: 25px;
}

.categoryitem a:hover {
	color: var(--cPaleta2);
	scale: 1.1;
}

.categoryitem a:hover::after {
	content: '';
	width: 55%;
	height: 1.5px;
	background: var(--cPaleta1);
	position: absolute;
	bottom: -3px;
	left: 2px;
}

/* nuevo boton wasap*/
.btnContainer {
	margin: 0 auto;
	display: flex;
	border: 1px solid var(--cPaleta1);
	border-radius: 7px;
}

.combutton {
	color: var(--cPaleta1);
	border: none;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.394) 1.95px 1.95px 2.6px;
	font-family: 'Alga';
	font-size: 0.95rem;
	background-color: white;
	height: 35px;
	padding: 0 5px;

	&:hover {
		cursor: pointer;
	}
}

.combutton img {
	height: 20px;
}

.iconContainer {
	display: none;
}

.mobileMenu {
	display: none;
	color: white;
}

.subcategory_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1.25rem;
	position: absolute;
	top: 60px;
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	column-gap: 55px;
	height: 0;
	width: 0;
	overflow: hidden;
}

.subcategory_container > .categoryitem:last-child {
	margin-bottom: 0;
}

.subcategory_container > .categoryitem {
	margin-top: 20px;
	text-align: justify;
}

.subcategory_title {
	display: flex;
	align-items: center;
}

.subcategory_title img {
	height: 20px;
	margin-left: 5px;
	transition: transform 0.25s ease-in-out;
}

.opened {
	height: auto;
	width: auto;
	padding-inline: 5px;
	padding-bottom: 10px;
}

/* ------------------------------------------------ */
/* ------------------MOBILE ------------------------*/
@media screen and (width <= 980px) {
	.btnContainer {
		width: 100%;
		border: none;
		justify-content: end;
		margin-right: 20px;
	}

	.combutton {
		border: 1px solid var(--cPaleta1);
	}

	.top_logo {
		display: inline-flex;
		justify-content: flex-start;
	}

	.mobileMenu {
		display: flex;
		margin-left: auto;
		margin-right: 2vh;
		align-items: center;
		justify-content: flex-end;

		& img {
			height: 30px;

			& .imgHidden {
				display: none;
			}
		}

		& svg {
			color: var(--cPaleta1);
			width: 30px;
			height: 30px;
		}
	}

	.mobileMenu svg {
		font-size: 1.75rem;
		color: var(--cPaleta1);
	}

	#categorybar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: unset;
		position: fixed;
		top: 110px;
		right: -100%;
		min-height: max-content;
		background-color: rgba(255, 255, 255, 0.85);
		/* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
		transition: 0.5s ease-in-out;
	}

	.categoryitem {
		margin-top: 1rem;
		margin-bottom: 1rem;
		justify-self: center;
		text-align: left;
	}

	.subcategory_container {
		margin-top: 10px;
		position: unset;
		background-color: unset;
		column-gap: unset;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}

	.categoryitem:last-child {
		margin-top: 0.25rem;
	}

	#categorybar.show {
		right: 0%;
	}

	.spanFono {
		display: none;
	}
}

/* ------------------------------------------------ */
/* ------------------ SMALL ------------------------*/
@media screen and (width <= 500px) {
	.logo_img {
		display: none;
	}

	.iconContainer {
		display: block;
		width: 100%;
		margin-right: 10px;
		& a {
			display: flex;
			justify-content: end;
		}
		& img {
			height: 25px;
		}
	}

	.btnContainer {
		display: none;
	}

	#categorybar {
		top: 90px;
	}

	.subcategory_container > .categoryitem {
		margin-top: 5px;
		text-align: justify;
	}
}
