.topRowOne {
	background-color: var(--cPaleta0);
	text-align: center;
	width: 100vw;

	img {
		height: 100px;
		margin: 15px 0 10px 0;
		cursor: pointer;
		aspect-ratio: 32/9;
	}
}

/* --- Barra de Navegacion --- */
/* --- ------------------- --- */
.topRowTwo {
	display: flex;
	height: 50px;
	width: 75%;
	max-width: var(--max-user-width);
	/* border: 1px solid blueviolet; */
	box-shadow: 0 10px 6px -6px var(--cPaleta1);
	position: relative;
	overflow: visible;
}

/* .topRowTwo::after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: -5%;
	width: 110%;
	height: 2px;
	background: transparent;
	box-shadow: 0 8px 10px var(--cPaleta1);
	z-index: -5;
} */

#categorybar {
	width: 80%;
	display: flex;
	gap: 25px;
	justify-content: space-around;
	align-items: center;
	/* border: 2px dashed green; */
}

.categoryitem {
	position: relative;
	/* necesito esto para el subrayado*/
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 10px 0 10px;
	padding-left: 5px;
}

.categoryitem a {
	color: var(--cLetra);
	text-decoration: none;
	position: relative;
	transition: 0.5s ease-in-out;
}

.categoryitem svg {
	height: 25px;
}

.categoryitem a:hover {
	color: var(--cPaleta2);
	scale: 1.1;
}

.categoryitem a:hover::after {
	content: '';
	width: 55%;
	height: 1.5px;
	background: var(--cPaleta1);
	position: absolute;
	bottom: -3px;
	left: 2px;
}

/* nuevo boton wasap */
.btnContainer {
	flex-grow: 1;
	justify-items: end;
	align-content: center;
	/* border: 3px solid red; */
}

.combutton {
	all: unset;
	color: var(--cPaleta1);
	font-size: 0.9rem;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.394) 1.95px 1.95px 2.6px;
	border: 1px solid var(--cPaleta1);
	margin-right: 15px;

	height: 30px;
	padding: 0 5px;

	&:hover {
		cursor: pointer;
		background-color: var(--cPaleta2);
		color: var(--cFondo);
	}
}

.combutton img {
	height: 20px;
}

.iconContainer {
	display: none;
}

.mobileMenu {
	display: none;
	color: white;
}

.subcategory_container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/* font-size: 1.25rem; */
	position: absolute;
	top: 50px;
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	column-gap: 55px;
	height: 0;
	width: 0;
	overflow: hidden;
}

.subcategory_container > .categoryitem:last-child {
	margin-bottom: 0;
}

.subcategory_container > .categoryitem {
	margin-top: 20px;
	text-align: justify;
}

.subcategory_title {
	display: flex;
	align-items: center;
}

.subcategory_title img {
	height: 20px;
	margin-left: 5px;
	transition: transform 0.25s ease-in-out;
}

.opened {
	height: auto;
	width: auto;
	padding-inline: 5px;
	padding-bottom: 10px;
}

/* ------------------------------------------------ */
/* ------------------MOBILE ------------------------*/
@media screen and (width <= 980px) {
	.topRowOne img {
		height: 85px;
	}

	.btnContainer {
		display: inline-flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		border: none;
		margin-right: 20px;
	}

	.combutton {
		border: 1px solid var(--cPaleta1);
	}

	.top_logo {
		display: inline-flex;
		justify-content: flex-start;
	}

	.mobileMenu {
		display: flex;
		margin-left: auto;
		margin-right: 2vh;
		align-items: center;
		justify-content: flex-end;

		& img {
			height: 30px;

			& .imgHidden {
				display: none;
			}
		}

		& svg {
			color: var(--cPaleta1);
			width: 30px;
			height: 30px;
		}
	}

	.mobileMenu svg {
		/* font-size: 1.75rem; */
		color: var(--cPaleta1);
	}

	#categorybar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: unset;
		position: fixed;
		top: 170px;
		gap: 0;
		right: -100%;
		min-height: max-content;
		background-color: rgba(255, 255, 255, 0.85);
		/* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
		transition: 0.5s ease-in-out;
	}

	.categoryitem {
		margin-bottom: 15px;
		justify-self: center;
		text-align: left;
	}
	.categoryitem:first-child {
		margin-top: 15px;
	}

	.subcategory_container {
		position: unset;
		background-color: unset;
		column-gap: unset;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	}

	.subcategory_container > .categoryitem {
		margin-block: 10px;
	}

	.subcategory_container > .categoryitem:first-child {
		margin-top: 15px;
	}
	.subcategory_container > .categoryitem:last-child {
		margin-bottom: 5px;
	}

	#categorybar.show {
		right: 0%;
	}

	.spanFono {
		display: none;
	}
}

/* ------------------------------------------------ */
/* ------------------ SMALL ------------------------*/
@media screen and (width <= 500px) {
	.topRowOne img {
		height: 65px;
	}

	.logo_img {
		display: none;
	}

	.iconContainer {
		display: block;
		width: 100%;
		margin-right: 10px;
		& a {
			display: flex;
			justify-content: end;
		}
		& img {
			height: 25px;
		}
	}

	.btnContainer {
		display: none;
	}

	#categorybar {
		top: 150px;
	}

	.subcategory_container > .categoryitem {
		text-align: justify;
		margin-block: 5px;
	}
}
