:root {
	--cPaleta0: #013d60;
	--cPaleta1: #333b4f;
	--cPaleta2: #8da9c9;
	--cPaleta3: #a39d99;
	--cPaleta4: #515151;
	--cFondo: white;
	--cLetra: black;
}

@font-face {
	font-family: 'Poppins';
	src: url('../src/assets/fonts/Poppins-Regular.otf') format('truetype');
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('../src/assets/fonts/Poppins-Bold.otf') format('truetype');
}

.App {
	font-family: 'Poppins';
	display: flex;
	background-color: var(--cFondo);
	flex-direction: column;
}

.zonatop {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 0;
	background-color: var(--cPaleta2);
	background-color: white;
	z-index: 50;
	box-shadow: 0px 0px 10px var(--cPaleta1);
	flex-grow: 0;
}

.zonamain {
	display: flex;
	justify-content: center;
	flex-grow: 2;
	min-height: 60vh;
	z-index: 0;
	/* padding-top: 2vw; */
	/* border: 1px solid yellow */
}
