:root {
    --cPaleta1: #333B4F;
    --cPaleta2: #8da9c9;
    --cPaleta3: #a39d99;
    --cPaleta4: #515151;
    --cFondo: white;
    --cLetra: black;
}

@font-face {
    font-family: "Alga";   /*Can be any text*/
    src: local("AlgaRegular"),
        url("../src/assets/fonts/AlgaRegular.ttf") format("truetype");
}

@font-face {
    font-family: "AlgaBold";   /*Can be any text*/
    src: local("AlgaBold"),
        url("../src/assets/fonts/AlgaBold.ttf") format("truetype");
}

@font-face {
    font-family: "AlgaLight";   /*Can be any text*/
    src: local("AlgaLight"),
        url("../src/assets/fonts/AlgaLight.ttf") format("truetype");
}

.App {
    font-family: 'AlgaLight';
    display: flex;
    background-color: var(--cFondo);
    flex-direction: column;
    /* height: max-content; */
}

.zonatop {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    /* align-items: center; */
    /* background-color: var(--cPaleta2); */
    font-size: 1.2rem;
    background-color: white;
    z-index: 50;
    border-bottom: 1.5px solid var(--cPaleta1);
    flex-grow: 0;
}

.zonamain {
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    flex-grow: 2;
    min-height: 60vh;
    z-index: 0;
    /* border: 1px solid yellow */
    ;
}




